#login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  min-width: 512px;
  & > .mat-card-header {
    margin: 0;
  }
  & > .mat-card-content {
    margin: 0;
  }
}
//.divider { margin-top: 8px; }
#login_buttons_row {
  display: flex;
  justify-content: flex-end;
}
