// http://mcg.mbitson.com

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$RomanPatricianPURPLEpalette: (
  '50': 'e9e4f2',
  '100': 'c7bddd',
  '200': 'a291c7',
  '300': '7d64b1',
  '400': '6143a0',
  '500': '45228f',
  '600': '3e1e87',
  '700': '36197c',
  '800': '2e1472',
  '900': '1f0c60',
  'A100': '2f4a9f',
  'A200': '7e61ff',
  'A400': '542eff',
  'A700': '4014ff',
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$RomanNavalBLUEpalette: (
  '50': 'e6e9f3',
  '100': 'c1c9e2',
  '200': '97a5cf',
  '300': '6d80bc',
  '400': '4e65ad',
  '500': '2f4a9f',
  '600': '2a4397',
  '700': '233a8d',
  '800': '1d3283',
  '900': '122272',
  'A100': 'a7b4ff',
  'A200': '7488ff',
  'A400': '415dff',
  'A700': '2847ff',
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$RomanLegionaryREDpalette: (
  '50': 'f1e1e1',
  '100': 'dbb5b5',
  '200': 'c48484',
  '300': 'ac5252',
  '400': '9a2d2d',
  '500': '880808',
  '600': '800707',
  '700': '750606',
  '800': '6b0404',
  '900': '580202',
  'A100': 'ff8a8a',
  'A200': 'ff5757',
  'A400': 'ff2424',
  'A700': 'ff0a0a',
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$RobinHoodForestGREENpalette: (
  '50': 'e1e9e2',
  '100': 'b4c8b7',
  '200': '82a387',
  '300': '4f7e56',
  '400': '2a6232',
  '500': '04460e',
  '600': '033f0c',
  '700': '03370a',
  '800': '022f08',
  '900': '012004',
  'A100': '5dff5d',
  'A200': '2aff2a',
  'A400': '00f600',
  'A700': '00dc00',
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);